{% extends 'core/base.html' %}

{% block title %}{{ room.name }} | {% endblock %}

{% block content %} 
    <div class="lg:w-2/4 m-4 lg:mx-auto p-4 bg-white drop-shadow-lg rounded-xl">
        <div class="p-5 lg:p-10 text-center">
            <h1 class="text-xl lg:text-3xl text-black font-semibold">{{ room.name }}</h1>
        </div>
        <div class="chat-messages space-y-3 border border-gray-400 border-t-0 border-l-0 border-r-0 border-b-1 pb-10" id="chat-messages">
            {% for chatmessage in messages %}
                {% if chatmessage.user.username == user.username %}
                <div class="flex justify-end">
                    <div class="w-3/4 p-4 bg-violet-700 rounded-xl flex justify-end">
                        <div class="w-3/4">
                            <p class="font-semibold text-white text-right">{{ chatmessage.user.username }}</p>
                            <p class="text-white text-right">{{ chatmessage.content }}</p>
                        </div>
                        <div class="w-12 h-12 p-3 bg-white rounded-full float-right ml-3 flex items-center justify-center">
                            <div class="text-gray-400 font-semibold text-lg uppercase text-center">
                                {{ chatmessage.user.username|slice:":1" }}
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                    <div class="w-3/4 p-4 bg-gray-200 rounded-xl flex justify start">
                        <div class="w-12 h-12 p-3 bg-white rounded-full mr-3 flex items-center justify-center">
                            <div class="text-gray-400 font-semibold text-lg uppercase text-center">
                                {{ chatmessage.user.username|slice:":1" }}
                            </div>
                        </div>
                        <div class="w-3/4">
                            <p class="font-semibold">{{ chatmessage.user.username }}</p>
                            <p>{{ chatmessage.content }}</p>
                        </div>
                    </div>
                {% endif %}

            {% endfor %}
        </div>


        <div class="lg:w-3/4 my-10 mx-4 lg:mx-auto p-4 bg-white drop-shadow-lg rounded-xl">
            <form method="post" action="." class="flex">
                <input type="text" name="content" class="flex-1 mr-3 px-3" placeholder="Your message..." id="chat-message-input">

                <button class="px-5 py-3 rounded-xl text-white bg-violet-700 hover:bg-violet-600" id="chat-message-submit">Submit</button>
            </form>
        </div>
    </div>

{% endblock %}

{% block scripts %}
{{ room.slug|json_script:"json-roomname" }}
{{ request.user.username|json_script:"json-username" }}

    <script>
        const roomName = JSON.parse(document.getElementById('json-roomname').textContent)
        const userName = JSON.parse(document.getElementById('json-username').textContent)

        const chatSocket = new WebSocket(
            'ws://' // websocket protocol scheme
            + window.location.host
            + '/ws/chat/' // url path prefix - configured in routing.py
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            if(data.chatmessage) {
                if(data.username === userName){
                    let html = '<div class="flex justify-end">'
                    html += '<div class="w-3/4 p-4 bg-violet-700 rounded-xl flex justify-end">';
                    html += '<div class="w-3/4">';
                    html += '<p class="font-semibold text-white text-right">' + data.username + '</p>';
                    html += '<p class="text-white text-right">' + data.chatmessage + '</p></div>';
                    html += '<div class="w-12 h-12 p-3 bg-white rounded-full float-right ml-3 flex items-center justify-center">';
                    html += '<div class="text-gray-400 font-semibold text-lg uppercase text-center">';
                    html += data.username.slice(0,1);
                    html += '</div></div></div></div>';
                    document.querySelector('#chat-messages').innerHTML += html;
                } else {
                    let html = '<div class="w-3/4 p-4 bg-gray-200 rounded-xl flex justify start">';
                    html += '<div class="w-12 h-12 p-3 bg-white rounded-full mr-3 flex items-center justify-center">';
                    html += '<div class="text-gray-400 font-semibold text-lg uppercase text-center">';
                    html += data.username.slice(0,1);
                    html += '</div></div>';
                    html += '<div class="w-3/4">';
                    html += '<p class="font-semibold">' + data.username + '</p>';
                    html += '<p>' + data.chatmessage + '</p></div></div>';
                    document.querySelector('#chat-messages').innerHTML += html;
                }
            } else {
                alert("The message was empty!");
            }
        }

        chatSocket.onclose = function(e) {
            console.log('WebSocket connection closed');
        }

        //

        document.querySelector('#chat-message-submit').onclick = function(e) {
            e.preventDefault();
            const messageInputDom = document.querySelector('#chat-message-input');
            const chatmessage = messageInputDom.value;
            
            chatSocket.send(JSON.stringify({
                'chatmessage': chatmessage,
                'username': userName,
                'room': roomName,
            }));

            messageInputDom.value = '';

            return false;
        }
    </script>

{% endblock %}